[Desktop Entry]
Name=BreakEven Dashboard
Comment=Dashboard for BreakEven Client
Exec=breakevendashboard
Icon=assets/icon.png
Terminal=false
Type=Application
Categories=Utility;